@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=PT+Sans&family=Raleway&display=swap');

body {
/*
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'PT Sans', sans-serif;
*/
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

header{
    border: 1px solid red;
    background-image: url(images/food.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    overflow: hidden;
    
}

header .nav-bar a{
    text-decoration: none;
    color: gray;
    font-size: 16px;
}

header .nav-bar{
    border: 1px solid;
    height: 50px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
header nav{
    height: 50px;
    background-color: white;
    overflow: hidden;
    width: 1200px;
    margin: auto;
}
nav .logo{
    float: left;
    line-height: 49px;
}
.menu{
    float: right;
    overflow: hidden;
}
.menu ul{
    margin: 0;
    line-height: 49px;
    list-style: none;
}
.menu ul li{
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin: 0 15px;
}
li:nth-last-child(1){
    margin-right: 0;
}

.fa-heart{
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.hire-me{
    color: white;
    background-color: rgba(0, 0, 0, 0.49);
    height: 900px;
    position: relative;
}

.hire-me h1,
.hire-me h2,
.hire-me p {
    margin: 0;
}

.title{
    position: absolute;
    bottom: 40%;
    left: 10%;
}

.hire-me h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 70px;
}
.hire-me h2{
    font-size: 30px;
}
.hire-me p{
    font-family: 'PT Sans', sans-serif;
    margin: 20px 0 30px 0;
}
.hire-me a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.51);
}

.services{
    margin: 20px 0;
}
.services ul{
     display: flex;
    list-style: none;
    margin: auto;
    width: 500px;
}
.services li{
    display: flex;
    margin: auto;
}
.services li a{
    text-decoration: none;
    color: #696969;
}

.gallery{
    border: 1px solid;
    width: 1000px;
    margin: auto;
}
.group{
    display: flex;
    margin: 30px 0;
}

.pic{
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 8px 2px rgba(128, 128, 128, 0.44);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}
.pic img{
    height: 300px;
    width: 300px;
}
footer{
    width: 100%;
    height: 100px;
     display: flex;
    border: 1px solid;
    background-color: white;
    line-height: 100px;
}
footer .left{
    margin: auto;
}
footer .right{
    margin: auto;
}
/*

*/
footer i.fa{
    font-size: 30px;
    border: 1px solid;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
footer i.fa:nth-child(1){
    background-color: #7dcdff;
    color: #ff6a6a;
}